<div class="col-xs-12 col-sm-6 col-sm-offset-4 col-md-6 col-md-offset-4">
<h1>Edit Article</h1><br />
</div>

<%= form_for(@article, :url => article_update_path(@article)) do |f| %>
<div class="col-xs-12 col-sm-6 col-sm-offset-4 col-md-6 col-md-offset-4">
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
   
   <p>
    <%= f.label :author %>
    <%= f.text_field :author %>
   </p>
  
   <p>
    <%= f.label :contact %>
    <%= f.text_field :contact %>
   </p>
 
   <p>
    <%= f.label :location %>
    <%= f.text_field :location %>
   </p>
  
   <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
   </p>
 
   <p>
    <%= f.submit 'Edit Article' %>
   </p>
  
 </div>

  
<% end %>
